/*
	AQUÍ IRÁ EL CÓDIGO CSS PERSONALIZADO
	Antes de crear algún estilo, verificar que no haya uno con la misma funcionalidad en el tema.
*/
/* CUSTOM by Ruben Guevara rguevarac@hotmail.es */
/*
* { outline: 2px dotted red }
* * { outline: 2px dotted green }
* * * { outline: 2px dotted orange }
* * * * { outline: 2px dotted blue }
* * * * * { outline: 1px solid red }
* * * * * * { outline: 1px solid green }
* * * * * * * { outline: 1px solid orange }
* * * * * * * * { outline: 1px solid blue }
*/

/* BACKGROUND COLORS */
	.bg-lightgray {background-color: #e0e0e0 !important; }
	.bg-lightblue {background-color: #dcedf5 !important;}
/* TEXTS COLORS */
	.text-blue	{color: #119ef6;}
	.text-black	{color: #1c2429;}
	.text-red	{color: #dd191d;}
	.text-green	{color: #038009;}
	.text-gray	{color: #ccc;}
    .text-blackgray  {color: #505050;}

/* FONT SIZE´s */
	.f-12{font-size: 12px;}
	.f-14{font-size: 14px;}
	.f-16{font-size: 16px;}
	.f-18{font-size: 18px;}
	.f-24{font-size: 24px;}
/* OTHERS */
	.clear {clear: both;}
	.demo-options {top: 70px;}
	ul.demo-btns > li.pull-right{ margin-left: 4px;}
	ul.demo-btns li > label { line-height: 0.7;}
	.modal-header{padding: 10px!important}
	.tab-wizard .nav-tabs > li > a{padding: 10px!important}
    .cbo-sm{
        width: 50px;
        padding: 5px;
        display: inline-block;
    }

/*para corregir error en scroll de ui-grid*/
.ui-grid-viewport { overflow-anchor: none;}

.ui-grid-viewport .ui-grid-cell button.btn-action {
	margin-left: 4px;
	width: 34px;
}
.ui-grid-viewport .ui-grid-cell button.btn-action i {
	font-size: 15px;
}
.ui-grid-viewport .ui-editCell, .ui-editPanel{
    background-color: #fcfbcd !important;
    font-style: oblique !important;
}

section.tile-body{
	margin-top: 0;
}
.waterMarkEmptyData {
    position: absolute;
    top : 80px;
    opacity: 0.40;
    font-size: 3em;
    width: 100%;
    text-align: center;
    z-index: 1000;
}
.page-consulta.tile{
	min-height: 500px;
}

/*estilo barras consulta*/
.flexFwrap {
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

.flexF {
    display: -webkit-flex;
    display: flex;
}

#progreso {
    width: 100%;
    margin-top: 5px;
}

#UbicacionProgreso {
    height: 33px;
}

#BarraProgreso {
    width: 100%;
    height: 35px;
}

.sombrainterior {
    -webkit-box-shadow: inset 0 30px 30px -29px rgba(255,255,255,.5);
    box-shadow: inset 0 30px 30px -29px rgba(255,255,255,.5);
}

#BarraProgreso div:not(.barraTitulo) {
    float: left;
    height: 40px;
}

.align-items-center {
    -webkit-align-items: center;
    align-items: center;
}

.justify-center {
    -webkit-justify-content: center;
    justify-content: center;
}

.barraTitulo {
    font-size: 12px;
    color: #000;
    word-break: break-word;
}

#progresoCifras {
    width: 100%;
}

#progresoCifras div {
    font-size: 14px;
    padding: 5px 0 10px 0;
    margin: 0;
}

.izquierda {
    float: left;
}

#progreso2 {
    width: 100%;
    margin-top: 5px;
}

#UbicacionProgreso2 {
    height: 33px;
}

#BarraProgreso2 {
    width: 100%;
    height: 35px;
}

#BarraProgreso2 div:not(.barraTitulo) {
    float: left;
    height: 35px;
}

.flexgraficos {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-flex-direction: row;
    flex-direction: row;
    max-width: 800px;
    -webkit-justify-content: space-around;
    justify-content: space-around;
}

.redondear2 {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    margin: auto;
}


/*page-loading*/
#page-loading{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 100000;
    background-color: rgba(51, 51, 51, 0.75);
    visibility: hidden;
}

.page-loading-text{
    font-size: 25px;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    height: 100%;
    position: relative;
    top: 50%;
}

#page-loading.visible{
    visibility: visible;
}

/* PNOTIFY */
.ui-pnotify .alert.ui-pnotify-container{
    padding: .8em;
    font-size: 12px;
}
.ui-pnotify .alert.ui-pnotify-container .ui-pnotify-icon, .ui-pnotify .alert.ui-pnotify-container h4 {
    font-size: 15px;
}
.ui-pnotify .ui-pnotify-closer, .ui-pnotify-sticker {
    float: right;
    margin-left: .6em;
}

.tooltip-event{
    width:auto;
    height:auto;
    background:#000;
    color:#fff;
    position:absolute;
    z-index:10001;
    padding:4px;
    border-radius: 8px;
    font-size: 11px;
}



/* DISEÑO 2018 */
minotaur-nav{
    top: 0;
    box-shadow: unset;
}

minotaur-nav .nav-logo{
    background-color: #024c63 ;
    height: 60px;
    border-bottom: 1px solid #e8eef4;
    text-align: center;
}
minotaur-nav .nav-logo img{
    width: 100%;
    max-height: 56px;
}
body minotaur-header {
    left: 280px;
    /*background: linear-gradient(to right, #137aa9 0%, #23a9e6 100%);*/
    background: linear-gradient(to right, #024c63 5%, #21a2a8 90%);
}
body.navigation-sm minotaur-header {
    left: 45px;
}
body.navigation-hidden minotaur-header {
    left: 0;
}
minotaur-header.shadow{
   box-shadow: 0 2px 2px -1px rgba(0,0,0,0.5);
}
minotaur-header .navbar-header .navigation-toggle {
    margin-left: 0;
}
minotaur-nav .nav-sidebar > .active > a > i,
minotaur-nav .nav-sidebar > .active > a:hover > i,
minotaur-nav .nav-sidebar > .active > a:focus > i,
minotaur-nav .nav-sidebar > .dropdown.active.open > a > i,
minotaur-nav .nav-sidebar > .dropdown.active.open > a:hover > i,
minotaur-nav .nav-sidebar > .dropdown.active.open > a:focus > i {
    background: linear-gradient(to right, #024c63 0%, #21a2a8 100%);
}
minotaur-nav .nav-sidebar li > a:hover > i {
    background: linear-gradient(to right, #024c63 0%, #21a2a8 100%);
}
.tile .tile-header .heading {
    color: #21a2a8;
}
.appWrap.viewport-sm minotaur-nav {
    top: 0px;
}
