<div class="page page-ui pull-to-header">
  <ol class="breadcrumb bg-white">
    <li><a ui-sref="dashboard">Dashboard</a></li>
    <li class="active">Sede</li>
  </ol>
  <!-- row -->
  <div class="row">
    <!-- col -->
    <div class="col-md-12">
      <!-- tile -->
      <div class="tile" ng-if="!vm.verServicios">
        <!-- tile header -->
        <section class="tile-header">
          <h1 class="heading">Sedes</h1>
          <div class="controls">
            <minotaur-tile-refresh ng-click="vm.getPaginationServerSide();"></minotaur-tile-refresh>
          </div>
        </section>
        <!-- /tile header -->
        <!-- tile body -->
        <!-- PANEL PRINCIPAL -->
        <section class="tile-body col-sm-12 pr-md pl-md">
          <div>
            <ul class="form-group demo-btns list-unstyled">
              <li class="pull-right" style="margin-bottom: 10px;"><button type="button" class="btn btn-success" ng-click='vm.btnNuevo()'>Nuevo</button></li>
            </ul>
          </div>
          <div id="grid1" ui-grid="vm.gridOptions" ui-grid-auto-resize class="grid table-responsive clear"></div>
        </section>

        <!-- /tile body -->
      </div>
      <!-- /tile -->
      <div class="tile" ng-if="vm.verServicios">
        <section class="tile-header">
          <h1 class="heading">Servicios de {{vm.serv.fData.descripcion_se}}</h1>
          <div class="controls">
          <button class="btn text-success" ng-click="vm.verServicios = false">Volver</button>
            <minotaur-tile-refresh ng-click="vm.getPaginationServServerSide();"></minotaur-tile-refresh>
          </div>
        </section>
        <section class="tile-body col-sm-12 pr-md pl-md">
          <div>
            <ul class="form-group demo-btns list-unstyled">
              <li class="pull-right" style="margin-bottom: 10px;"><button type="button" class="btn btn-primary"
                  ng-click='vm.btnAgregarServicio()'>Agregar Servicios</button></li>
            </ul>
          </div>
          <div id="grid1" ui-grid="vm.gridServOptions" ui-grid-auto-resize class="grid table-responsive clear"></div>
        </section>
      </div>
    </div>
    <!-- /col -->
  </div>
  <!-- /row -->
</div>
