<div class="nav-logo pt-md">
  <span class="text-white">OSAKIN
  <!-- <img class="mt-sm" ng-src="assets/images/dinamic/empresa/{{fSessionCI.logo_imagen}}" alt="{{ fSessionCI.empresa }}" title="{{ fSessionCI.empresa }}" /> -->
  </span>
</div>
<div class="nav-heading">
  <h3 class="text-center">MENÚ PRINCIPAL</h3>
</div>

<div slimscroll="{
      height: '100%',
      size: '4px',
      borderRadius: '0px',
      opacity: .2
     }">

  <ul class="nav nav-sidebar pb-n">
    <li ng-class="{'active':$state.includes('dashboard')}" class="dashboard">
      <a ng-click="$state.reload();" ui-sref="dashboard">
        <span class="nav-text">{{ 'Menu.DASHBOARD' | translate }}</span>
        <i class="fa fa-home"></i>
      </a>
    </li>

    <li ng-class="{'active':$state.includes('sede')}" class="sede">
      <a ng-click="$state.reload();" ui-sref="sede">
        <span class="nav-text">{{ 'Menu.SEDES' | translate }}</span>
        <i class="fa fa-bank"></i>
      </a>
    </li>
    <li ng-class="{'active':$state.includes('servicio')}" class="servicio">
      <a ng-click="$state.reload();" ui-sref="servicio">
        <span class="nav-text">{{ 'Menu.SERVICIOS' | translate }}</span>
        <i class="fa fa-bank"></i>
      </a>
    </li>



    <li  ng-class="{'active':$state.includes('usuario')}"  ng-if="fArr.valores[4]" >

      <a href="javascript:;">
        <span class="nav-text">{{ 'Menu.SEGURIDAD' | translate }}</span>
        <i class="fa fa-key"></i>
      </a>
      <ul>
        <li ng-class="{'active':$state.includes('usuario')}" class="usuario">
          <a ng-click="$state.reload();" ui-sref="usuario">
            <span class="nav-text">{{ 'Menu.USUARIOS' | translate }}</span>
            <i class="fa fa-user"></i>
          </a>
        </li>

      </ul>

    </li>

    <li ng-class="{'active':$state.includes('paginas')}" ng-if="fArr.valores[5]">
      <a href="javascript:;">
        <span class="nav-text">{{ 'Menu.CONFIGURACION' | translate }}</span>
        <i class="fa fa-wrench"></i>
      </a>
      <ul>
        <li ng-class="{'active':$state.includes('paginas-dinamicas')}" class="paginas">
          <a ng-click="$state.reload();" ui-sref="paginas-dinamicas">
            <span class="nav-text">Páginas Dinámicas</span>
            <i class="fa fa-book"></i>
          </a>
        </li>
        <li ng-class="{'active':$state.includes('sitio-web')}" class="sitio-web">
          <a ng-click="$state.reload();" ui-sref="sitio-web">
            <span class="nav-text">Sitio Web</span>
            <i class="fa fa-book"></i>
          </a>
        </li>

      </ul>
    </li>


  </ul>

</div>
